<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>O Time!</h1>
        <div class="row">
            <% for (usuario of usuarios){%>
              <div class="col-sm-4">
                  <h2><%= usuario.name %>
                  <img class="img-responsive" style="height: 250px" src="<%= usuario.avatar %>">
              </div>
              npm install ejs express-ejs-layouts --save 
        </div>
     </div>
</body>
</html>